.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    grid-area: tl;
    padding: 20px;
    justify-content: space-around;
    overflow-y: auto;

    &::-webkit-scrollbar {
        background-color: rgb(51, 49, 49);
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(83, 82, 82);

    }
}