.wrapper {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 2px solid rgb(161, 160, 160);
    
    h4 {
        display: flex;
        transition: all 0.2s ease-in;
        justify-content: center;
        white-space: nowrap;
        width: 80px;
        margin: 0 0 0 30px;
        color: #0483d8;
        cursor: pointer;

        &:hover {
            font-size: 18px;
            color: #0696f7;
        }
    }
}