.wrapper {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: rgb(43, 42, 42);
    &:hover {
        h4 {
            color: #0696f7;
        }
    }
    
    
    h4 {
        display: flex;
        transition: all 0.2s ease-in;
        justify-content: center;
        white-space: nowrap;
        width: 80px;
        margin: 0 0 0 30px;
        color: #0483d8;
        font-weight: 100;
        cursor: pointer;

        &:hover {
            font-size: 18px;
            
        }
    }
}